* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
/* social Bar */
.social-bar {
  position: fixed;
  top: 300px;
  left: 20px;
  transform: translateY(-50%);
  z-index: 10;
}
.social-bar ul {
  list-style: none;
  text-align: center;
}
.social-bar ul li {
  margin: 15px 0;
}
.social-bar ul li a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
.social-bar .follow-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 12px;
  background: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

/* banner Section */
.banner {
  padding: 80px 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.banner-subtitle {
  color: #555;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.banner-title {
  font-size: 48px;
  margin: 0 0 30px;
}
.highlight {
  color: #ff3c00;
}
/* search box */
.search-box {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.search-field {
  flex: 1;
  min-width: 180px;
}
.label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}
.search-field select,
.search-field input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}
.search-btn-container {
  display: flex;
  align-items: flex-end;
}
.search-btn {
  background-color: #ff3c00;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}
.search-btn:hover {
  background-color: #e63300;
}
/* events */
.upcoming-events {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 10px;
  border-bottom: 1px solid #eee;
}
.events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.events-header h2 {
  font-size: 28px;
  font-weight: 600;
  color: #111;
}
.view-all-btn {
  background-color: #ff3c00;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  text-decoration: none;
}
.view-all-btn:hover {
  background-color: #e63300;
}
.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.event-card {
  position: relative;
  border-radius: 20px;
  cursor: pointer;
}
.event-card img {
  width: 100%;
  height: 360px;
  border-radius: 20px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.4s ease;
}
.event-card:hover img {
  filter: grayscale(0%);
  transform: scale(1.05);
}
.event-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  color: white;
}
.event-price {
  font-size: 14px;
  font-weight: 600;
}
.event-info h3 {
  font-size: 18px;
  margin: 5px 0;
}
.event-info p {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 13px;
  align-items: center;
}
.event-info i {
  margin-right: 5px;
}

/* deal section */
.deal-section {
  background-image: url("../../assets/bg-deal");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 60px 20px;
  border-radius: 10px;
  margin: 40px auto;
  max-width: 1200px;
  border-bottom: 1px solid #eee;
}
.deal-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.deal-text h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.deal-text p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.deal-btn {
  background-color: #e50914;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s;
}
.deal-btn i {
  margin-left: 8px;
}
.deal-btn:hover {
  background-color: #c40812;
}
.deal-discount h1 {
  font-size: 6rem;
  font-weight: bold;
  color: white;
}
/* testimoila */
.testimonials-section {
  padding: 60px 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}
.testimonial-header .subheading {
  text-transform: uppercase;
  color: #888;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}
.testimonial-header h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
}
.testimonial-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 100%;
}
.testimonial-card{
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  width: 370px;
  text-align: left;
}
.testimonial-card h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial-card p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;
}

.testimonial-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.testimonial-user img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.stars {
  color: #fbbf24; /* gold */
  font-size: 14px;
  margin-bottom: 4px;
}

.testimonial-user strong {
  display: block;
  font-size: 14px;
}

.testimonial-user p {
  font-size: 12px;
  color: #888;
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 50px 10px;
  }
  .search-box {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .search-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .search-btn,
  .search-btn-container {
    width: 100%;
  }
  .social-bar {
    display: none;
  }
  .events-header h2 {
    font-size: 24px;
  }
  .deal-container {
    flex-direction: column;
    text-align: center;
  }
  .deal-discount h1 {
    font-size: 4rem;
  }
  .testimonial-cards {
    flex-direction: column;
    align-items: center;
  }

  .carousel-btn {
    display: none;
  }
}
