* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.profile-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.profile-container h1 {
  color: #ff4000;
  margin-bottom: 20px;
  font-size: 28px;
}
.user-name, .user-email, .user-role{
  text-align: left;
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}